@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap');

:root{
    --header-height:3.5rem
    
    --first-color:hsl(50,94%,49%);
    --title-color:hsla(230,75%,15%);
    --text-color:hsla(229,89%,15% 0.11);
    --background:hsla(230,90%,15% 0.11);
    --background-search:hsla(0,0%,0%  0.8);
    --body-color:hsl(0,0%,100%);
    --container-color:hsl(230,100%,97%);
    --border-color:hsl(0,0%,93%);
    --light-color:hsla(0,0%,93%,0.647);

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
}
body{
    font-family:"Buda", serif;
    background: var(--container-color);
    color: var(--title-color);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    position: relative;
    width: 100;
    height: 100vh;
    background: var(--container-color);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    width: 85%;
    margin: 0 auto;
}
.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: #918b8b;
}
nav ul li{
    display:inline-block;
    margin: 1.5rem 2rem;

    transition: all 0.4s;
    font-size:1.5rem ;

}
nav ul li a{
    color: var(--title-color);

}
nav ul li a:hover{
    color:hsl(50,94%,49%);
}
.content{
    margin-left: 8%;
    margin-top: 15%;
}
    .content h1{
      font-size: 1.7rem ;
      color: var(--title-color);
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
.content h1 span{
    color: hsl(50,94%,49%);
}
.content p{
    color: #918b8b;
    line-height: 1.5rem;
    max-width:90%;
    width:6rem;
    
}
.content .btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 3rem;
    background: hsl(50,94%,49%);
    color: var(--container-color);
    font-size: 1.1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.content .btn:hover{
    color:#918b8b;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    font-weight: bold;
}
.image{
    position: absolute;
    width: 45%;
    height: 75%;
    right:5rem ;
    bottom: 0;
    object-fit: contain;
 }
 section{
    padding: 2rem 9%;

 }
 section h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 3rem;
    margin-bottom: 1.5rem;


 }
 .box__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
   align-items: center;

 }
 
 .box{
      padding: 2rem 3rem;
      background: var(--light-color);
      box-shadow: 0 4px 6px rgba(255,255,255,0.2);
      border-radius: 0.5rem;
      text-align: center;

 }
 .box img{
    width: 100%;
    height: auto;

 }
 .box h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;

 }
 section h1{
    text-align: center;
 }
